{% extends 'img_app/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
                <img src="{% static image.upload.url %}" alt="...">
                <p>
                    <a href="/image/like/{{image.id}}" class="btn btn-primary" role="button">Like</a> 
                    <a href="/image/dislike/{{image.id}}" class="btn btn-warning" role="button">Disike</a> 
                </p>
        </div>
    </div>
</div>
{% endblock %}